[class*="col-"] {
    height:100px;
}

[class*="bg-nested"] {
    border: 1px solid #006cfa;
    height: 50px;
}

[class*="txt"] {
    font-size: 25px;
}

.brdr-bot-1-w {
    border-bottom: 1px solid #fff;
}